<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>me.melchor9000.getcurrenttrack</string>
    <key>Program</key>
    <string>/Users/$USER/Library/Application Support/Übersicht/widgets/Playbox.widget/lib/start_daemon.sh</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>LaunchOnlyOnce</key>        
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/$USER/Library/Application Support/Übersicht/widgets/Playbox.widget/lib/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/$USER/Library/Application Support/Übersicht/widgets/Playbox.widget/lib/stderr.log</string>
    <key>UserName</key>
    <string>admin</string>
    <key>InitGroups</key>
    <true/>
  </dict>
</plist>
